<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectnam">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/ProjectNam"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".delaccount_pop_up_Activity"
            android:exported="false"
            android:theme="@style/DialogTheme" />
        <activity
            android:name=".LockerListActivity"
            android:exported="false" />
        <activity
            android:name=".ReserveStateActivity"
            android:exported="false" />
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".otp_popup_Activity"
            android:exported="false"
            android:theme="@style/DialogTheme" />
        <activity
            android:name=".EmailVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".ReInfoCheckActivity"
            android:exported="false" />
        <activity
            android:name=".FixInfoActivity"
            android:exported="false" />
        <activity
            android:name=".OtpActivity"
            android:exported="false" />
        <activity
            android:name=".ReserveLongResultActivity"
            android:exported="false" />
        <activity
            android:name=".ReserveShortResultActivity"
            android:exported="false" />

        <service
            android:name=".ForcedTerminationService"
            android:stopWithTask="false" />

        <activity
            android:name=".ReserveLongActivity"
            android:exported="false" />
        <activity
            android:name=".ReserveShortActivity"
            android:exported="false" />
        <activity
            android:name=".ActivitySignUp"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectActivity"
            android:exported="false" />
        <activity
            android:name=".NoticeActivity"
            android:exported="false" />
        <activity
            android:name=".ReserveActivity"
            android:exported="false" />
    </application>

</manifest>